bin/
pkg/
src/github.com/
src/go.etcd.io/
src/golang.org/
src/google.golang.org/
src/gopkg.in/
src/sourcegraph.com/
src/code.google.com
src/sigs.k8s.io
src/go.uber.org
*.o
*.a
*.linux
*.mac
*.pkg
*.log
.DS_Store
*.idea
*.pyc
*.zip
.vscode/
src/honnef.co/
src/gonum.org/
